/*
//Secrets on SOCIETY2
//Copyright (C) 2020  Society2 Inc.
//
//This program is free software: you can redistribute it and/or modify
//it under the terms of the GNU General Public License as published by
//the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.
//
//This program is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU General Public License for more details.
//
//You should have received a copy of the GNU General Public License
//along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
:root {
		--primary-color: #883888;
		--secondary-color: #4A4A49;
		--tertiary-color: #880088;
		--utility-color: #880000;
		--text-color: #222222;
		--bg-color: #CCCCCC;
		--text-font: "text-font";
		--logo-url: url("./asstes/logo-full.png.png");
	}
	body {
    overscroll-behavior: contain;
		position: relative;
	}
	*::-webkit-scrollbar {
		  width: 5px;
		}

	*::-webkit-scrollbar-thumb {
		  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
		  background-color: var(--primary-color);
		}

	*::-webkit-scrollbar-track {
		  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
		  background-color: #EFEFEF;
		  border-radius: 10px;
		}




  .primary-color{background-color:var(--primary-color);}.primary-text{color:var(--primary-color);}
  .btn-primary{background-color: var(--primary-color)!important;border:var(--primary-color)!important;}


	/* Loading Animation */
	body {
	position: relative;
	}

	.loading-overlay{
	  position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.85);overflow:hidden;z-index:20;
	  opacity:0;transition:all 1s ease;pointer-events:none;
	  min-height: 100vh;
	  z-index:99999;
	}

	body.loading .loading-overlay{
	  opacity:1;transition:all 1s ease;pointer-events:all;
	}
	.loading-overlay span{
		padding:1rem;
	    background-color:white;
	}

	.loading-overlay img{
		width:80%;
	  height:auto;
	  margin-bottom: 13px;
	}
	.loading-overlay .pulse{
		opacity:0;
	}

	body.loading .loading-overlay .pulse{
		opacity:1;
	}

	.pulse {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	transform:translate(-50%, -50%);
	font-family: var(--primary-font);
	font-weight: 700;
	font-size: 34px;
	text-align: center;
	color: var(--primary-color);
	}

	.pulse span,
	.pulse:before,
	.pulse:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0 solid var(--primary-color);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: var(--primary-color);
	}

	.pulse:before,
	.pulse:after {
	animation: da-pulse 1.5s ease-in-out 0s infinite;
	}



	.pulse span {
	border-width: 4px;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	}

	.pulse:before {
	border-width: 3px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	}

	.pulse:after {
	border-width: 1px;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	}

	@keyframes da-pulse {
	  0% {
	    transform: scale(1);
	    opacity: .2;
	  }
	  50% {
	    transform: scale(1.25);
	    opacity: 1;
	  }
	  100% {
	    transform: scale(1);
	    opacity: .2;
	  }
	}


	.modal-content{
		border-radius: 0;
	}

	#top{
		border-bottom: 1px solid var(--primary-color);
		max-width: 1200px;
		margin: 0 auto 20px auto;
		padding: .5rem 1rem;
	}

	#top .publisher-name{
		color: var(--primary-color);
		margin: 0 0 0 10px;
		font-weight: bold;
		border-radius: 50em;
		padding: 3px 10px;
		background-color: rgba(0,0,0,0.1);
		margin-right: 1rem;
	}
	#welcome-modal button{
		border-radius: 0px!important;
		padding: 1rem .5rem!important;
	}
	#welcome-modal button:nth-of-type(1){
		background-color:var(--primary-color);
		color:white;
		transition: all .4s ease;
	}

	#welcome-modal button:nth-of-type(2){
		background-color:var(--secondary-color);
		color:white;
		transition: all .4s ease;
	}

	#welcome-modal button:hover{
		border: 1px solid var(--primary-color);
		color:var(--primary-color);
		background-color:white;
		transform: scale(0.9,0.9);
		transition: all .4s ease;
	}


	#chats {
		display:flex;
		flex-direction:column;
		max-width: 1200px;
		margin: 0 auto 0 auto;
		justify-content:center;
		align-items:center;
	}

	#chats .chat-button{
		cursor: pointer;
		width: 600px;
		max-width: 90vw;
		border: 1px solid var(--primary-color);
		padding: .375rem .75rem;
		margin-top: 10px;
		transition: all .4s ease;
		border-radius: 10px;
	}
	#chats .chat-button .name{
		font-weight:bold;
	}
	#chats .chat-button:hover{
		color:white!important;
		background-color: var(--primary-color);
		transition: all .4s ease;
	}

	#chats .chat-button .last-message{
		color:grey;
	}

	#chats .chat-button .last-message-date{
		font-size:small;
		color:grey;
	}

	#chat-modal .chat-title{
		font-weight: bold;
		text-align: center;
		color: white;
		background: var(--primary-color);
		font-size: 26px;
		padding: 10px 20px;
		margin-bottom: 10px;
	}
	#chat-modal .chat-controls{
		box-shadow:0 0 10px rgba(0,0,0,.3);
		position:absolute;top:-16px;right:-17px;
		display:flex;flex-direction:column;justify-content:center;align-items:center;
		border-radius:100rem;overflow:hidden;
		font-size:20px;background-color:white;
	}

	#chat-modal .chat-controls > div{
		display:flex;padding:7px;
	}

	#chat-modal .chat-subscribers{
	  font-weight: normal;
		font-size: 15px;
	}
	#chat-modal .messages-wrapper{
		overflow-y: scroll;
		height: 55vh;
		word-break: break-word;
		display: flex;flex-direction: column-reverse;
	}
	#chat-modal h5{
		border-bottom: 1px solid var(--primary-color);
		padding: 20px 0 10px 0;
		text-align: center;
	}
	#chat-modal .message-sender{
		font-weight:bold;
	}

	#chat-modal .message-date{
		margin-top:auto;margin-bottom:auto;
		font-size:10px;color:grey;
	}

	#chat-modal .message{
		position:relative;
		margin:10px 15px;
		border-radius:10px;
		border:1px solid rgba(0,0,0,0.0);
		padding:.4rem .6rem .7rem .6rem;
		cursor: pointer;
		transition:all .4s ease;
	}

	#chat-modal .message:hover{
		background-color: rgba(0,0,0,0.1);
		transition:all .4s ease;
	}

  #chat-modal .message.border{
		border: 1px solid grey;
	}


	#chat-modal .message-text{
     line-height: 1.2em;
		 white-space: pre-wrap;
	}

	#chat-modal .message.incoming {
		margin-left:60px;
		margin-right:20%;
		background-color:var(--primary-color);
		color:#FFFFFF;
	}

	#chat-modal .message.outgoing {
	  margin-left:20%;
		margin-right:60px;
		background-color:rgba(0,0,0,.05);
		color:var(--primary-color);
	}

	#chat-modal .message.incoming:before,
	#chat-modal .message.outgoing:before {
		position:absolute;
		top:-1px;
		width:36px;
		height:36px;
		display:flex;
		padding:5px 4px 5px 5px;
		border-radius:50%;
		content:"\f007";
		display:inline-block;
		font:normal normal normal 25px/1 FontAwesome;
		text-align:center;
	}

	#chat-modal .message.incoming:before {
		left:-45px;
		background: var(--primary-color);
		color:#FFFFFF;
	}

	#chat-modal .message.outgoing:before {
		right:-45px;
		background:rgba(0,0,0,.05);
		color:var(--primary-color);
	}

	#chat-modal .message.outgoing > .d-flex{
		flex-direction: column-reverse;
	}
	#chat-modal .message.outgoing .message-sender{
		text-align:right;
	}
	#chat-modal .message.outgoing .message-date{
		text-align:right;
	}
	#chat-modal .message.incoming .message-date{
		color:rgba(255,255,255,.7);
	}

	#chat-modal .message.outgoing .message-text{
		text-align:right;
	}


	#chat-modal .input{
		padding: 30px 20px;
	}

	#chat-modal .input .quoted-message .content, #chat-modal .message .quote {
		font-size: 13px;
		border-radius: 7px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0,0,0,0.1);
		border-left: 4px solid var(--primary-color);
		transition: all .4s ease;
		position: relative;
		width:100%;
		word-break: break-word;
		white-space: pre-wrap;
	}

	#chat-modal .input .quoted-message .content i {
		position: absolute;top: 5px;right:5px;
    font-size: 14px;
    padding: 3px;
	}
	#chat-modal .input > .d-flex{
		margin-top: 10px;
	}
	#chat-modal .input textarea{
		outline: none!important;
		padding: .9rem 20px 0 20px;
		border-radius: 20px 0 0 20px;
		line-height: 1.2em;
		min-height: 50px;height:50px;
		position: relative;
	}
	#chat-modal .input:after{
		position: absolute;bottom:10px;left:2.5rem;
		content: "press SHIFT+ENTER to send";
		font-size: 10px;
	}

	#reactions-modal .message-content {
		overflow-y: scroll;
		max-height: 55vh;
		word-break: break-word;
		white-space: pre-wrap;
		font-size: 13px;
		border-radius: 7px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,0.1);
		border-left: 4px solid var(--primary-color);
		transition: all .4s ease;
		position: relative;
		width:100%;
	}

	#chat-settings-modal .subscriber{
		border: 1px solid var(--primary-color);
		padding:5px;
	}

  #chat-settings-modal #chat-name{
		font-weight:bold;
	}


 #my-secret{
		font-size: 12px;
    color: #212121;
    font-weight: bold;
    font-style: italic;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: rgba(0,0,0,0.1);
    border-left: 3px solid var(--primary-color);
    padding: 10px;
	}

	#chat-settings-modal canvas{
		width:100%;
		height:50vh;
	}

	#active-channel-qr img{
		width: 100%;
    height: auto;
	}
	.subscriberapi,#publisherapi{
		font-size:10px;
		color:darkgrey;
		overflow-x:auto;
		max-width:100%;
		display:flex;
	}

	#participants-modal .subscriber {
		margin-bottom:10px;
		border-bottom: 1px solid rgba(0,0,0,0.2)
	}

	.reactions{
		display:flex;flex-wrap:nowrap;
		color: var(--primary-color);
		max-height:0;overflow:hidden;
		transition:all .4s ease;animation-delay: .5s;
	}

	.message:hover .reactions{
		max-height:1.8rem;
		transition:all .4s ease;animation-delay: .5s;
	}

	.reactions i{
		margin:.3rem .3rem 0 .5rem;font-size:150%;
	}

	.message.outgoing .reactions{
		margin-left: auto;text-align:right;
	}

@media screen and (max-width: 575px){
	.modal-dialog {
    margin: 1.5rem!important;
  }
}
